.app__new{
    display: flex;
    width: 100%;

    .app__new-container{
        flex: 6;

        .app__new-container-top, .app__new-container-bottom{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47); 
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.46);
            padding: 20px;
            margin: 20px;
            display: flex;

            h1{
                color: lightgray;
                font-size: 20px;
            }

            .app__new-container-bottom-left{
                flex: 1;
                text-align: center;

                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .app__new-container-bottom-right{
                flex: 2;

                form{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    justify-content: space-around;

                    label{
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .app__new-formInput-icon{
                            cursor: pointer;
                        }
                    }

                    .app__new-formInput{
                        width: 40%;

                        input{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                        }
                    }

                    button{
                        width: 150px;
                        padding: 10px;
                        border: none;
                        background-color: teal;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        margin-top: 10px;

                        &:disabled{
                            background-color: rgba(0, 128, 128, 0.259);
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }

    }
}